$BASE_COLOR: #f1f1f2;
$MAIN_COLOR: #162052;
$SUB_COLOR: #9fb6d8;
$ACCENT_COLOR: #fec80a;
$BUTTON_MARGIN: 4px;
$LIGHT_TEXT: #fff;
$DISABLED_BACKGROUND: #eee;
$DISABLED_TEXT: #ccc;
$HEADING_TEXT: #333;
